sudo: required
dist: trusty
language: cpp
if: commit_message != "cppcheck report added/updated"

matrix:
    include:
        # gcc 5
        - env: GCC_VERSION=5
          os: linux
          compiler: gcc-5
          addons: &gcc5
            apt:
              packages:
                - g++-5
              sources:
                - sourceline: "ppa:ubuntu-toolchain-r/test"
                
        # gcc 6
        - env: GCC_VERSION=6
          os: linux
          compiler: gcc-6
          addons: &gcc6
            apt:
              packages:
                - g++-6
              sources:
                - sourceline: "ppa:ubuntu-toolchain-r/test"
                
        # gcc 7
        - env: GCC_VERSION=7
          os: linux
          compiler: gcc-7
          addons: &gcc7
            apt:
              packages:
                - g++-7
              sources:
                - sourceline: "ppa:ubuntu-toolchain-r/test"
                
        # gcc 8
        - env: GCC_VERSION=8
          os: linux
          compiler: gcc-8
          addons: &gcc8
            apt:
              packages:
                - g++-8
              sources:
                - sourceline: "ppa:ubuntu-toolchain-r/test"
                
        # gcc 9
        - env: GCC_VERSION=9
          os: linux
          compiler: gcc-9
          addons: &gcc9
            apt:
              packages:
                - g++-9
              sources:
                - sourceline: "ppa:ubuntu-toolchain-r/test"
                
       # gcc 9 - gnu++14
        - env: GCC_VERSION=9 CPP_STD=gnu++17
          os: linux
          compiler: gcc-9
          addons: &gcc9
            apt:
              packages:
                - g++-9
              sources:
                - sourceline: "ppa:ubuntu-toolchain-r/test"

install:
    - if [ -n "$GCC_VERSION" ]; then export CXX="g++-${GCC_VERSION}" CC="gcc-${GCC_VERSION}"; fi
    - if [ "$GCC_VERSION" == 5 ]; then export CFLAGS="${CFLAGS} -std=gnu++14 -Wall"; fi
    - if [ -n "$GCC_VERSION" ]; then export CFLAGS="${CFLAGS} -Wall"; fi
    - if [ -n "$CPP_STD" ]; then export CFLAGS="${CFLAGS} -std=${CFLAGS}"; fi

script:
    - cd ./tests
    - make -f makefile.gcc debug && ./bin/Debug/test
    - make -f makefile.gcc release && ./bin/Release/test
    - cd ../example/objective_server
    - make -f makefile.gcc debug
    - make -f makefile.gcc release
    - cd ../local_search
    - make -f makefile.gcc debug && ./bin/Debug/local_search
    - make -f makefile.gcc release && ./bin/Release/local_search
    - cd ../ga
    - make -f makefile.gcc debug && ./bin/Debug/ga
    - make -f makefile.gcc release && ./bin/Release/ga

