name: code_coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
  workflow_dispatch:

jobs:
  gcov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Install lcov
        run: |
          sudo apt install lcov
          lcov --version
      
      - name: Build with gcov and run tests
        env:
          CC: "gcc"
          CXX: "g++"
          CFLAGS: "-g -fprofile-arcs -ftest-coverage"
          LDFLAGS: "-lgcov"
          
        run: |
          $CXX -v
          cd ./tests
          make -f makefile.gcc debug && ./bin/Debug/test
            
      - name: Generate report
        run: |
          cd ./tests
          lcov -o lcov_report.info -c -d .
          genhtml -o report lcov_report.info
          
      - name: publish report to repository
        uses: EndBug/add-and-commit@v7
        with:
          author_name: Code coverage action
          author_email: galushin@gmail.com
          message: 'Updating coverage report'
          add: './tests/report/*'
          
