name: code_coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
  workflow_dispatch:

jobs:
  gcov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Install lcov
        run:
          sudo apt install lcov
          lcov --version

      - name: Build with gcov
        env:
          CC: "gcc",
          CXX: "g++",
          CFLAGS: "-g -fprofile-arcs -ftest-coverage",
          LDFLAGS: "-lgcov",
          
        run: |
          $CXX -v
          cd ./tests
          make -f makefile.gcc debug
          
      - name: Test
        run: ./bin/Debug/test
        
      - name: Generate report
        run: |
          lcov -o lcov_report.info -c -d .
        
      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@v1
        with:
          coverage-files: lcov_report.info
          minimum-coverage: 90
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: .
        
