name: test

on:
  push:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        config:
          # GCC
          - {
              name: "Linux GCC default",
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: none,
            }
          - {
              name: "Linux GCC default ASAN",
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: address,
            }
          - {
              name: "Linux GCC default UBSAN",
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: UB,
            }
          - {
              name: "Linux GCC default FLOAT-CAST-OVERFLOW",
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: float-cast-overflow,
            }
          - {
              name: "Linux GCC 7",
              CC: "gcc-7", 
              CXX: "g++-7",
              SANITIZE: none,
            }
          - {
              name: "Linux GCC 8",
              CC: "gcc-8", 
              CXX: "g++-8",
              SANITIZE: none,
            }
          - {
              name: "Linux GCC 9",
              CC: "gcc-9", 
              CXX: "g++-9",
              SANITIZE: none,
            }
          - {
              name: "Linux GCC 10",
              CC: "gcc-10", 
              CXX: "g++-10",
              SANITIZE: none,
            }
          # Clang
          - {
              name: "Linux Clang default",
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: none,
            }
          - {
              name: "Linux Clang default ASAN",
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: address,
            }
          - {
              name: "Linux Clang default UBSAN",
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: UB,
            }
          - {
              name: "Linux Clang default FLOAT-CAST-OVERFLOW",
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: float-cast-overflow,
            }
          - {
              name: "Linux Clang 10",
              CC: "clang-10", 
              CXX: "clang++-10",
              SANITIZE: none,
            }
          - {
              name: "Linux Clang 11",
              CC: "clang-11", 
              CXX: "clang++-11",
              SANITIZE: none,
            }
          - {
              name: "Linux Clang 12",
              CC: "clang-12", 
              CXX: "clang++-12",
              SANITIZE: none,
            }

    steps:
      - uses: actions/checkout@v2
      
      - name: Install GCC 7
        id: install_gcc_7
        if: ( matrix.config.CXX == 'g++-7' )
        shell: bash
        working-directory: ${{ env.HOME }}
        run: |
          sudo apt-get install -y gcc-7 g++-7

      - name: Install GCC 8
        id: install_gcc_8
        if: ( matrix.config.CXX == 'g++-8' )
        shell: bash
        working-directory: ${{ env.HOME }}
        run: |
          sudo apt-get install -y gcc-8 g++-8
      
      - name: build-and-test
        if: matrix.config.sanitize == 'none'
        env:
          CXX: ${{ matrix.config.cxx }}
          CC: ${{ matrix.config.cc }}
          
        run: >
          $CXX -v
          && cd ./tests
          && make -f makefile.gcc debug 
          && ./bin/Debug/test
          && make -f makefile.gcc release 
          && ./bin/Release/test
          && cd ../example/local_search
          && make -f makefile.gcc debug 
          && ./bin/Debug/local_search
          && make -f makefile.gcc release 
          && ./bin/Release/local_search
          
      - name: ASAN
        if: matrix.config.sanitize == 'address'
        env:
          CXX: ${{ matrix.config.cxx }}
          CC: ${{ matrix.config.cc }}
          CFLAGS:  "${cflags} -O1 -fsanitize=address -fno-omit-frame-pointer"
          LDFLAGS: "-fsanitize=address"
          
        run: >
          $CXX -v
          && cd ./tests
          && make -f makefile.gcc debug 
          && ./bin/Debug/test
          
      - name: UBSAN
        if: matrix.config.sanitize == 'UB'
        env:
          CXX: ${{ matrix.config.cxx }}
          CC: ${{ matrix.config.cc }}
          CFLAGS:  "${cflags} -fsanitize=undefined -fno-omit-frame-pointer"
          LDFLAGS: "-fsanitize=undefined"
          UBSAN_OPTIONS: "print_stacktrace=1"
          
        run: >
          $CXX -v
          && cd ./tests
          && make -f makefile.gcc debug 
          && ./bin/Debug/test
          
      - name: sanitize-float-cast-overflow
        if: matrix.config.sanitize == 'float-cast-overflow'
        env:
          CXX: ${{ matrix.config.cxx }}
          CC: ${{ matrix.config.cc }}
          CFLAGS:  "${cflags} -fsanitize=float-cast-overflow -fno-omit-frame-pointer"
          LDFLAGS: "-fsanitize=float-cast-overflow"
          UBSAN_OPTIONS: "print_stacktrace=1"
          
        run: >
          $CXX -v
          && cd ./tests
          && make -f makefile.gcc debug 
          && ./bin/Debug/test
