name: test

on:
  push:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        config:
          - {
              name: "Linux GCC default"
              CC: "gcc", 
              CXX: "g++",
            }

    steps:
      - uses: actions/checkout@v2

      - name: build-and-test
        env:
          CXX: ${{ matrix.config.cc }}
          CC: ${{ matrix.config.cxx }}
          
        run: |
          g++ -v
          
          cd ./tests
          make -f makefile.gcc debug && ./bin/Debug/test
          make -f makefile.gcc release && ./bin/Release/test
          
          cd ../example/local_search
          make -f makefile.gcc debug && ./bin/Debug/local_search
          make -f makefile.gcc release && ./bin/Release/local_search
