name: test

on:
  push:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    
    strategy:
      fail-fast: false
      matrix:
        config:
          # GCC
          - {
              name: "Linux GCC default",
              os: ubuntu-22.04,
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: none,
              CFLAGS: "-std=gnu++17",
            }
          - {
              name: "Linux GCC default ASAN fail-fast",
              os: ubuntu-latest,
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: address,
              CFLAGS:  "-std=c++17 -fsanitize=address -fsanitize=pointer-compare -fsanitize=pointer-subtract -fno-sanitize-recover=all",
              LDFLAGS: "-fsanitize=address",
              ASAN_OPTIONS: "check_initialization_order=1:strict_init_order=1:detect_odr_violation=1:detect_invalid_pointer_pairs=2",
            }
          - {
              name: "Linux GCC default ASAN recover",
              os: ubuntu-latest,
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: address,
              CFLAGS:  "-std=c++17 -fsanitize=address -fsanitize=pointer-compare -fsanitize=pointer-subtract",
              LDFLAGS: "-fsanitize=address",
              ASAN_OPTIONS: "check_initialization_order=1:strict_init_order=1:detect_odr_violation=1:detect_invalid_pointer_pairs=2",
            }            
          - {
              name: "Linux GCC default UBSAN",
              os: ubuntu-latest,
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: UB,
              CFLAGS:  "-std=gnu++17 -fsanitize=undefined -fno-sanitize-recover=all",
              LDFLAGS: "-fsanitize=undefined",
            }
          - {
              name: "Linux GCC default FLOAT-CAST-OVERFLOW",
              os: ubuntu-latest,
              CC: "gcc", 
              CXX: "g++",
              SANITIZE: float-cast-overflow,
              CFLAGS:  "-std=gnu++17 -fsanitize=float-cast-overflow -fno-sanitize-recover=all",
              LDFLAGS: "-fsanitize=float-cast-overflow",
            }
          - {
              name: "Linux GCC 8",
              os: ubuntu-24.04,
              CC: "gcc-8", 
              CXX: "g++-8",
              SANITIZE: none,
              CFLAGS: "-std=gnu++17",
            }
          - {
              name: "Linux GCC 9",
              os: ubuntu-latest,
              CC: "gcc-9", 
              CXX: "g++-9",
              SANITIZE: none,
              CFLAGS: "-std=gnu++17",
            }
          - {
              name: "Linux GCC 10",
              os: ubuntu-latest,
              CC: "gcc-10", 
              CXX: "g++-10",
              SANITIZE: none,
              CFLAGS: "-std=gnu++17",
            }
          - {
              name: "Linux GCC 11",
              os: ubuntu-22.04,
              CC: "gcc-11", 
              CXX: "g++-11",
              SANITIZE: none,
            }
          - {
              name: "Linux GCC 12 C++17",
              os: ubuntu-22.04,
              CC: "gcc-12", 
              CXX: "g++-12",
              SANITIZE: none,
              CFLAGS: "-std=gnu++17",
            }            
          - {
              name: "Linux GCC 12 C++20",
              os: ubuntu-22.04,
              CC: "gcc-12", 
              CXX: "g++-12",
              SANITIZE: none,
              CFLAGS: "-std=gnu++20",
            }            
          - {
              name: "Linux GCC 12 C++23",
              os: ubuntu-22.04,
              CC: "gcc-12", 
              CXX: "g++-12",
              SANITIZE: none,
              CFLAGS: "-std=gnu++2b",
            }
          # Clang
          - {
              name: "Linux Clang default",
              os: ubuntu-latest,
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "MacOS Clang default",
              os: macos-latest,
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang default ASAN fail-fast",
              os: ubuntu-24.04,
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: address,
              CFLAGS:  "-std=c++17 -fsanitize=address -fsanitize=pointer-compare -fsanitize=pointer-subtract -fno-sanitize-recover=all",
              LDFLAGS: "-fsanitize=address",
              ASAN_OPTIONS: "check_initialization_order=1:strict_init_order=1:detect_odr_violation=1:detect_invalid_pointer_pairs=2",
            }
          - {
              name: "Linux Clang default ASAN recover",
              os: ubuntu-24.04,
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: address,
              CFLAGS:  "-std=c++17 -fsanitize=address -fsanitize=pointer-compare -fsanitize=pointer-subtract",
              LDFLAGS: "-fsanitize=address",
              ASAN_OPTIONS: "check_initialization_order=1:strict_init_order=1:detect_odr_violation=1:detect_invalid_pointer_pairs=2",
            }
          - {
              name: "Linux Clang default UBSAN",
              os: ubuntu-latest,
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: UB,
              CFLAGS:  "-std=c++17 -fsanitize=undefined -fno-sanitize-recover=all",
              LDFLAGS: "-fsanitize=undefined",
            }
          - {
              name: "Linux Clang default FLOAT-CAST-OVERFLOW",
              os: ubuntu-latest,
              CC: "clang", 
              CXX: "clang++",
              SANITIZE: float-cast-overflow,
              CFLAGS:  "-std=c++17 -fsanitize=float-cast-overflow -fno-sanitize-recover=all",
              LDFLAGS: "-fsanitize=float-cast-overflow",
            }
          - {
              name: "Linux Clang 10",
              os: ubuntu-24.04,
              CC: "clang-10", 
              CXX: "clang++-10",
              LLVM: "llvm-10",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang 11",
              os: ubuntu-24.04,
              CC: "clang-11", 
              CXX: "clang++-11",
              LLVM: "llvm-11",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang 12",
              os: ubuntu-24.04,
              CC: "clang-12", 
              CXX: "clang++-12",
              LLVM: "llvm-12",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang 13",
              os: ubuntu-22.04,
              CC: "clang-13", 
              CXX: "clang++-13",
              LLVM: "llvm-13",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang 14 C++17",
              os: ubuntu-22.04,
              CC: "clang-14", 
              CXX: "clang++-14",
              LLVM: "llvm-14",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang 15 C++17",
              os: ubuntu-22.04,
              CC: "clang-15", 
              CXX: "clang++-15",
              LLVM: "llvm-15",
              SANITIZE: none,
              CFLAGS: "-std=c++17",
            }
          - {
              name: "Linux Clang 15 C++20",
              os: ubuntu-22.04,
              CC: "clang-15", 
              CXX: "clang++-15",
              LLVM: "llvm-15",
              SANITIZE: none,
              CFLAGS: "-std=c++20",
            }

    steps:
      - uses: actions/checkout@v4

      - name: Install GCC
        id: install_gcc
        if: startsWith(matrix.config.os, 'ubuntu') && startsWith(matrix.config.cc, 'gcc-')
        shell: bash
        working-directory: ${{ env.HOME }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.config.cc }} ${{ matrix.config.cxx }}

      - name: Install Clang
        id: install_clang
        if: startsWith(matrix.config.os, 'ubuntu') && startsWith(matrix.config.cc, 'clang-')
        shell: bash
        working-directory: ${{ env.HOME }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.config.cc }} ${{ matrix.config.llvm }}        
      
      - name: build-and-test
        if: matrix.config.sanitize == 'none'
        env:
          CXX: ${{ matrix.config.cxx }}
          CC: ${{ matrix.config.cc }}
          CFLAGS: ${{ matrix.config.cflags }}
          
        run: >
          $CXX -v
          && cd ./tests
          && make -f makefile.gcc debug 
          && ./bin/Debug/test
          && make -f makefile.gcc release 
          && ./bin/Release/test
          
      - name: SANITIZE
        if: matrix.config.sanitize != 'none'
        env:
          CXX: ${{ matrix.config.cxx }}
          CC: ${{ matrix.config.cc }}
          CFLAGS:  "${{ matrix.config.cflags }} -O1 -fno-omit-frame-pointer"
          LDFLAGS: ${{ matrix.config.ldflags }}
          UBSAN_OPTIONS: "${{ matrix.config.ubsan_options }} print_stacktrace=1 halt_on_error=1"
          ASAN_OPTIONS: "${{ matrix.config.asan_options }} print_stacktrace=1 halt_on_error=1"
          
        run: >
          $CXX -v
          && cd ./tests
          && make -f makefile.gcc debug 
          && ./bin/Debug/test
